@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin: 6rem;
    }
    #about-container {
        flex-wrap: wrap;
    }
}


@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }

    .k {
        /* k is a class within the profile section that allows us to target the profile contents only */
        position: relative;
        top: -25px;
    }

    #experience, 
    .experience-details-container {
        margin-top: 2rem;
    }
    #profile {
        display: block;

    }

    #about {
        justify-content: space-between;
        gap: 1rem;
    }

    .arrow {
        display: none;
    }
    section, .section-container {
        height: fit-content;
        flex-wrap: wrap;
    }
    section {
        margin: 0 5%;
    }
    .section_pic-container {
        width: 350px;
        height: 350px;
        margin: 0 auto 2rem;
        justify-content: center;
    }
    .about-details-container {
        margin-top: 3rem;
    }

    .about-pic {
        margin-top: 0.5rem;
    }


}

@media screen and (max-width: 600px) {
    #contact, footer {
        height: 40vh;
    }
    #profile {
        height: 81vh;
        margin-bottom: 0;
    }
    article {
        font-size: 1rem;
    }
    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-details-container, .contact-info-upper-container, .btn-container {
        flex-wrap: wrap;
    }
    .contact-info-container {
        margin: 0.5rem;
        flex-direction: column;
        
    }
    .contact-info-container p, .nav-links li a {
        font-size: 1rem;
    } 
    .experience-sub-title {
        font-size: 1.25rem;
    }
    .logo {
        font-size: 1.5rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section_pic-container {
        width: 46vw;
        height: 46vw;
        justify-content: center;
    }
    .section_text_p2 {
        font-size: 1.25rem;
    }
    .title {
        font-size: 2rem;
    }
    .text-container {
        text-align: justify;
    }

    .about-pic {
        width: auto;
        height: 270px;
        margin-top: 2rem;
    }

}